<!doctype html>
<html lang="en">
<html>
	<head>
	<meta charset="utf-8">
	<title><%= @appname %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="img/favicon.png">

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="main" class="container">
	<div class="row">
		<div id="login" class="span3 offset7">
			<a class="btn">Click to login</a>
		</div>
	</div>
	<div id="main-head" class="row">
		<div class="span5">
			<a href="/"><img src="img/logo.png"></img></a>
		</div>
		<div id="navi" class="span7">
			<div class="btn-group">
				<a class="btn btn-large">Buy</a>
				<a class="btn btn-large">Create Word Search</a>
				<a class="btn btn-large">Contact Support</a>
				<a class="btn btn-large">Ask a Question</a>
			</div>
		</div>
	</div>
	<hr>
	<%= yield %>
	<div class="row">
		<div class="span5"><p></p></div>
	</div>
</div>
</body>
</html>
